<div>
    <header class="text-center">
        <h3>{{type.auth_grant_type}}</h3>
    </header>

    <div class="main-content">
        <div class="row">
            <div class="col-md-1">
                &nbsp;
            </div>

            <div class="col-md-10">
                <div class="py-2">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Authorization</h5>

                            <p>
                                <b>Authorization</b> is a mechanism of authorizing an entity to access over which an end-user is capable of doing in an application.
                                Not to be confused with <i>Authentication</i>, which is a process of validating the identity of an end-user
                            </p>


                            <p>
                            <h6 class="card-title">OAuth 2.0</h6>
                            <p>
                            <p>OAuth 2.0 is the model Bitbucket uses to authorize apps/entities integrating with Bitbucket.</p>

                            <div class="alert alert-info" role="alert">
                                There are a total of 5 types of authorization Bitbucket has adapted, 4 of them are standard OAuth grant types and 1 custom one:
                                <ol>
                                    <li><a href="https://bitbucket.org/acalantog/bb-cloud-auth-code-grant-sample-app">Authorization Code Grant</a></li>
                                    <li><a href="https://bitbucket.org/acalantog/bb-cloud-implicit-grant-sample-app">Implicit Grant</a></li>
                                    <li><a href="https://bitbucket.org/acalantog/bb-cloud-resource-owner-grant-sample-app">Resource Owner Password Credentials Grant</a></li>
                                    <li><a href="https://bitbucket.org/acalantog/bb-cloud-client-creds-grant-sample-app">Client Credentials Grant - Current</a></li>
                                    <li><a href="https://bitbucket.org/acalantog/bb-cloud-jwt-grant-sample-app">Bitbucket JWT Grant</a></li>
                                </ol>
                            </div>
                            </p>

                            <p>
                            <h6>Participants of the OAuth flow</h6>

                            <p><b>Resource Owner/End-user</b> - An entity capable of granting access to a protected resource. When the resource owner is a person, it is referred to as an end- user.</p>

                            <p>
                                <b>Client/Consumers</b> - An application making protected resource requests on behalf of the resource owner (with its authorization) or consumers of the service.
                                In OAuth 2.0, you generate these thru the Resource Server in a form of key:secret (username:password) combination which you can use to invoke APIs/services.
                            </p>

                            <p><b>Resource Server</b> - The server hosting the protected resources, capable of accepting and responding to protected resource requests using access tokens.</p>

                            <p><b>Authorization Server</b> - The server issuing access tokens to the client after successfully authenticating the resource owner and obtaining authorization.</p>
                            </p>

                            <p>
                            <h6>Important terms to remember</h6>
                            <p><b>access_token</b> -  Defines the permission of the selected user, ergo represents the authorization of a specific application to access specific parts of a user's data. Tokens that represents the authorization of an entity to access specific parts of a user's data in an application. It is the token generated or returned by https://bitbucket.org/site/oauth2/access_token</p>
                            </p>
                            </p>
                            <a href="https://tools.ietf.org/html/draft-ietf-oauth-v2-31#section-1.1">OAuth v2 s1.1</a>
                        </div>
                    </div>
                </div>

                <div class="py-2">
                    <div class="card ">
                        <div class="card-body">
                            <h5 class="card-title">What is {{type.auth_grant_type}}?</h5>
                            <p class="card-text">
                                {{{type.definition}}}
                            </p>
                            <div class="alert alert-info" role="alert">
                                <h6>Difference with other authorization grants?</h6>
                                <ul>
                                    {{#each this}}
                                    {{#diff_with_other_grants}}
                                    <li>{{this}}</li>
                                    {{/diff_with_other_grants}}
                                    {{/each}}
                                </ul>
                            </div>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#flow-modal">
                                See flow
                            </button>
                            <a href="{{type.document_link}}" class="card-link" target="_blank">Go to Atlassian Docs</a>
                            <a href="{{type.rfc_link}}" class="card-link" target="_blank">IETF Link</a>
                        </div>
                    </div>
                </div>


                <div class="py-2">
                    <div class="card ">
                        <div class="card-body">
                            <h5 class="card-title">Demo Time!</h5>
                            <p class="card-text">
                                <p>
                                    <ol>
                                        <li>
                                            <p>
                                                The first step in integrating your app with Bitbucket is to create your own consumer.
                                                Consumers are used by Bitbucket to associate which apps are authorized or granted by an end-user for access to their data.
                                                As shown in <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#flow-modal"> See flow</button>.
                                            </p>
                                            <p>
                                                To use this app, please make sure to set the callback url to <b>{host_url}/oauth-callback</b> as the app listens to this endpoint for the response from the Auhtorization Server
                                            </p>
                                            Click this shiny
                                            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#consumer-flow-modal">
                                                button
                                            </button> for steps and how to specify the permission of your app and which data you want access
                                        </li>

                                        <li>
                                            The second step is to copy the generated consumer key and secret and adding it in your app for future calls to Bitbucket APIs.
                                            If you want to try the consumer key and secret in this sample app, you can either:
                                            <ul>
                                                <li>Go to source directory/config.json and replace `consumerKey` and `consumerSecret`, restart the app, and click on "Authorize" button below</li>
                                                <li>
                                                    A default consumer key and secret is displayed in the form below.
                                                    If you want to used yours, just copy the consumer key and secret, paste it in the form below to see what happens when you try to authorize the consumer you created.
                                                </li>
                                            </ul>
                                        </li>

                                        <li>
                                            <p>
                                                Grant access to this consumer using authorization code grant.
                                                If you haven't gone through the <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#flow-modal"> See flow</button> button earlier,
                                                I suggest doing so as this is the first 3 step in authorizing your app:
                                                <ol>
                                                    <li>User/App initiates authorization</li>
                                                    <li>App requests for authorization and Authorization Server asks for your permission, if you haven't granted access to this consumer yet. If you have granted, an access_token is immediately given to the app</li>
                                                </ol>
                                                When you click on "Authorize" button below, app is doing step 2
                                            </p>

                                            <div class="alert alert-info">
                                                <form action="/oauth-callback" method="post">
                                                    <div class="form-group row">
                                                        <label class="col-md-5 col-form-label">Consumer Key/client_id</label>
                                                        <div class="col-md-7">
                                                            <input type="text" class="form-control" value="{{client.key}}" name="client_key_input"/>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-md-5 col-form-label">Consumer Secret/client_secret</label>
                                                        <div class="col-md-7">
                                                            <input type="text" class="form-control" value="{{client.secret}}" name="client_secret_input"/>
                                                        </div>
                                                    </div>
                                                    <button type="submit" class="btn btn-primary mb-2">Authorize</button>
                                                </form>
                                            </div>
                                        </li>
                                    </ol>
                                </p>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-1">
                &nbsp;
            </div>
        </div>
    </div>

    <footer>
        Anne Calantog  Developer Advocate at Atlassian (2018)
    </footer>
</div>


<!-- modals for education purposes-->

<div class="modal fade bd-example-modal-lg" id="flow-modal" tabindex="-1" role="dialog" aria-labelledby="authModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="authModalLabel">Grant Flow</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body ">
                <img src="/images/authorization_flow.png" class="auth-flow-img"/>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade bd-example-modal-lg" id="consumer-flow-modal" tabindex="-1" role="dialog" aria-labelledby="authModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="consumerFlowModalLabel">How to create consumers</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body ">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="d-block w-100" src="/images/Consumers_1.png" alt="Bitbucket Settings"/>
                            <div class="carousel-caption">
                                <p>
                                    This is the first step to consumer creation.
                                    Click on Bitbucket Settings from your profile.
                                </p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="/images/Consumers_2.png" alt="Click 'OAuth'"/>
                            <div class="carousel-caption d-none d-md-block">
                                <p>
                                    Click 'OAuth' to add a new consumer
                                </p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="/images/Consumers_3.png" alt="Click 'Add Consumer'"/>
                            <div class="carousel-caption d-none d-md-block">
                                <p>
                                    Click 'Add Consumer'
                                </p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="/images/Consumers_4.png" alt="Consumer configuration"/>
                            <div class="carousel-caption d-none d-md-block">
                                <p>
                                    Enter you consumer name and description. Please make sure to set the
                                    callback url to {app_host_url}/oauth-callback because this is the endpoint
                                    set in the sample app
                                </p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="/images/Consumers_5.png" alt="Consumers generated"/>
                            <div class="carousel-caption d-none d-md-block">
                                <p>
                                    Copy-paste the consumer key and secret in the sample app to test it out!
                                </p>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
